.wallethead{
    color:black;

    font-size:40px;
    font-weight: 400;
}

.walletimage{
    width:150px;
   
}

.walletpara{
    color:black;
    font-weight:bold;
}

.modalbg{
    background-color: rgb(226, 226, 226);
}

.modaltitle{
    font-size:17px;
    color:rgb(33, 114, 229);
    

}

.errordiv{
    border:1.3px solid red;
    border-radius: 15px;
}


.greydiv{
    border:1.3px solid rgb(57, 57, 57);
    border-radius: 15px;
}

.connect{
    background-color: rgb(86, 90, 105);
    font-size:13px;
    font-weight: bold;
    margin-left: 20px;
}

.infinity{
    color:rgb(86 77 77);
    font-size:14px;
    
}

.easy{
    color:rgb(86 77 77);
    font-size:11px;
}

.smallimage{
    width:40px;
    
}

.modalheight{
    
}
.secondmodimage{
    width:80px;
}

.secondmod{
    font-size: 18px;
}


.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: black;
    background-color: white;
}

.smallest{
    font-size: 11px;
    font-weight:500;
    margin-top: 15px;
    text-align: center;
}




@media only screen and (max-width: 768px) {
    /* For mobile phones: */

    .walletimage{
        width:80px;
       
    }

  }